#c{
    border: 2px solid black;
    width: 6cm;
    padding: 0.5cm;
}

#result{
    margin :auto;
    margin: 0.2cm auto;
    text-align: right;
    height: 1cm;
    width: 8cm;
    background-color: rgb(151, 150, 150);
    color: rgb(235, 235, 235);
}

@media screen and (max-width: 992px) {
    body {
      background-color: white;
    }
  }
  
 
  @media screen and (max-width: 600px) {
    body {
     
    background-color: white;
    }
  }