.git{
    background-color: rgb(42, 55, 70);
    color: white;
    font-size: 2em;
}
#i6{
    text-align: center;
}

#i1{
    display: flex;
    width: 100;
    height: 50vh;
    background-color: rgb(224, 224, 224);
   flex : 1;
    
 }
 #i2{
     height: 9cm;
     border-radius: 1rem;
     background-color: rgb(87, 81, 81);
     width: 7cm;
 }
 #i3{
     width: 15cm;
     height: 10mm;
     border-radius: 10mm;
     color: white;
 }
 #i4{
     background-color: rgb(87, 81, 81);
     width: 3cm;
     padding: 2;
     height: 2cm;
     border-radius: 1rem;
 }

 #i5{
     width : 100;
     background-color: rgb(87, 81, 81);
     border-radius: 1rem;
 }